{{#if pagination.next}}
    <nav class="load-more" data-load-more aria-label="More posts">
        <a class="load-more-button" href="{{page_url pagination.next}}" data-load-more-button>
            Load More Posts
        </a>
    </nav>
{{/if}}
