{{!< default}}

<section class="error-page">
    <p class="error-code">{{statusCode}}</p>
    <h1>Page not found</h1>
    <p>The page you are looking for could not be found.</p>
    <a href="{{@site.url}}">Back to homepage</a>
</section>
