{{!< default}}

{{#page}}
{{page_meta}}
<article class="{{post_class}}">
    {{#if @page.show_title_and_feature_image}}
        <header class="page-header">
            <h1>{{title}}</h1>
        </header>

        {{> "feature-image"}}
    {{/if}}

    <section class="page-content">
        {{{content}}}
    </section>
</article>
{{/page}}
